@model IEnumerable<SamanProject.Models.TutulanTarlalarSurrogate>

@{
    ViewBag.Title = "Tutulan Tarla Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row-fluid">
    <div class="span12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box blue">
            <div class="portlet-title">
                <h4><i class="icon-globe"></i>Tutulan Tarla Tablosu </h4>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    <a href="#portlet-config" data-toggle="modal" class="config"></a>
                    <a href="javascript:;" class="reload"></a>
                    <a href="javascript:;" class="remove"></a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="clearfix">
                    <div class="btn-group">
                        <p>
                            <a href="@Url.Action("tarlaEkle")" class="btn red-stripe">Tutulan Tarla Ekle </a>
                        </p>
                    </div>
                    <div class="btn-group pull-right">
                        <button class="btn dropdown-toggle" data-toggle="dropdown">
                            İşlemler <i class="icon-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Print</a></li>
                            <li><a href="#">Save as PDF</a></li>
                            <li><a href="#">Export to Excel</a></li>
                        </ul>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover" id="sample_1">
                    <thead>
                        <tr>
                            <th style="width: 8px;">
                                <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" /></th>
                            <th>Adı Soyadı</th>
                            <th class="hidden-480">Telefon</th>
                            <th class="hidden-480">Dönüm</th>
                            <th class="hidden-480">Dönüm Tutarı</th>
                            <th class="hidden-480">Çıkan Balya</th>
                            <th class="hidden-480">Alınan Balya</th>
                            <th class="hidden-480">Ödeme</th>
                            <th class="hidden-480">K.Borc</th>
                            <th class="hidden-480">Tarih</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="odd gradeX">
                                <td>
                                    <input type="checkbox" class="checkboxes" value="1" /></td>
                                <td><a href="@Url.Action("tarlaDetay", "Home", new { Id = @item.Id })">@Html.DisplayFor(modelItem => item.AdSoyad)</a></td>
                                <td class="hidden-480">@Html.DisplayFor(modelItem => item.Telefon) </td>
                                <td class="hidden-480">@Html.DisplayFor(modelItem => item.Donum)</td>
                                <td class="center hidden-480">@Html.DisplayFor(modelItem => item.DonumTutar)</td>
                                <td class="center hidden-480">@Html.DisplayFor(modelItem => item.CikanBalyaAdeti)</td>
                                <td class="center hidden-480">@Html.DisplayFor(modelItem => item.AlinanBalyaAdeti)</td>
                                <td class="center hidden-480">@Html.DisplayFor(modelItem => item.Odeme)</td>
                                <td class="center hidden-480">@Html.DisplayFor(modelItem => item.KalanBorc)</td>
                                <td>@Html.DisplayFor(modelItem => item.Tarih)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
