
@{
    ViewBag.Title = "yakitSil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>yakitSil</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>YakitGiderSurrogate</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PersonelId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PersonelId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AracId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AracId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PetrolId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PetrolId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Tarih)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tarih)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AldigiLitre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AldigiLitre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LitreFiyati)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LitreFiyati)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ToplamTutar)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ToplamTutar)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Not)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Not)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
